
  .action{
      padding:20px;
      margin-left: 50px;
      margin-top: 100px;
      min-width: 10px;
  }
  .m{
      margin-top: 100px;
      margin-left: 100px;
      text-align: center;
      
  }
  