<mat-card class="at">
<p class="st">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="username" formControlName='username'>
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
</p>
</mat-card>
<mat-card class="at">
<p class="st">
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="email" formControlName='email'>
    <mat-icon matSuffix>email</mat-icon>

  </mat-form-field>
</p>
</mat-card>
<mat-card class="at">
<p class="st">
  <mat-form-field appearance="outline">
    <mat-label>Phone-no</mat-label>
    <input matInput placeholder="Phone" formControlName='phone'>
    <mat-icon matSuffix>phone</mat-icon>
    
  </mat-form-field>
</p>
</mat-card>
<button mat-raised-button color="primary" class="bt">Primary</button>